<%= form_for @link, html: { multipart: true } do |f| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <br>
  <div class="form-group"
  <%= f.label :url %><br>
  <%= f.text_field :url, class: "form-control" %>
  </div>
  <br>
  <div class="form-group"
  <%= f.label :image %><br>
  <%= f.file_field :image, class: "form-control" %>
  </div>
  <br>
  <div class= "form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
